.container {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1300px) {
    max-width: 1024px;
    padding: 0 2em;
  }
}

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(12, 1fr);
}

@mixin col($number) {
  .col-#{$number} {
    grid-column: span $number;
  }

  .col-sm-#{$number} {
    @media screen and (max-width: 900px) {
      grid-column: span $number;
    }
  }
}

@for $i from 1 through 12 {
  @include col($i);
}